player-connection-mode=Listen
player-connection-guid=3735663727
player-connection-debug=0
player-connection-project-name=New Unity Project
player-connection-ip=169.254.64.162
player-connection-ip=192.168.99.49
player-connection-ip=192.168.0.11
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=1
single-instance=
force-d3d11-bltblt-mode=
nolog=
